<p>
	As a user, from any page, I want to have a consistent, easily accessible navigation menu with different buttons/links. These links go to different pages that let me...
	<ul>
		<li>View a list of all passengers</li>
		<li>View a list of all drivers</li>
		<li>Create a new passenger</li>
		<li>Create a new driver</li>
	</ul>
</p>