/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Roboto:wght@400;700&display=swap');

@import "**/*";

a, a:hover {
	text-decoration: none;
	color: lightcyan;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
}

header, footer {
	background-color: #388087;
}

header h1 {
	color: #fff;
	margin: 0;
}

/* Dropdown Button */
.dropbtn {
	background-color: #6FB3B8;
	border: none;
	padding: 0.75em 1em;
	letter-spacing: 0.1em;
}

.dropbtn, .dropdown-content a {
	transition-duration: 0.5s;
}

.dropbtn, .dropbtn a {
	color: white;
}

.dropbtn, .dropdown-content a {
	min-width: 7em;
	text-align: center;
}

.dropdown {
	margin: 0 1em;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
	background-color: #f1f1f1;
	left: 0;
	z-index: 1;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-content a {
  color: #212529;
  padding: 1em;
  display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #BADFE7;
}

h1, h2, h3 {
	font-family: 'Jost', sans-serif;
}

main {
	font-size: 1.1em;
	background-color: #F6F6F2;
	min-height: 100vh;
	padding: 3em;
}

#homepage {
	display: flex;
	color: #fff;
	background-image: url('/assets/image-catalog-background.jpg'); 
	background-size: cover;
	min-height: 100vh;
	margin: -3em;
	padding: 3em 5em;
	justify-content: flex-end;
	align-items: center;
}

#homepage h1 {
	border: 1px solid white;
	padding: 0.5em;
}

main a {
	color: #6FB3B8;
}

main a:hover {
	color: #C2EDCE;
}

footer {
	font-size: 0.75em;
	padding: 0.5em;
	text-align: center;
}

strong {
	font-weight: 700;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

// Tables
table {
	width: 75vw;
}

th {
  background-color: #388087;
	color: white;
}

th, td {
	padding: 1em;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// Show page nav options
.options {
	margin: 2em 0;
}

.options ul li {
	margin-right: 1em;
}

// All passengers/drivers
.index--list-all {
	margin-top: 2em;
}

.index--list-all li {
	margin: 0.5em 0;
}

// Edit/new forms
.form section {
	margin: 1em 0;
}

.field_with_errors { 
	display: inline;
}

// Capture errors
.add-new-page ul {
	color: #0c5460;
	background-color: #d1ecf1;
	border: 1px solid #bee5eb;
	border-radius: 0.25rem;
	padding: 0.75em;
}

// Profile
.profile {
	display: flex;
	margin-top: 2em;
}

.profile img {
	object-fit: cover;
  width: 10em;
	height: 10em;
	border-radius: 10em;
	margin: 0 2em 0 0;
}

// Pages navigation
.pagination {
	margin-top: 3em;
	justify-content: space-around;
	width: 30vw;
}